# Archivos sensibles
.env
.env.local
*.pem

# Dependencias
node_modules/

# Entorno virtual Python
.venv/
venv/
__pycache__/

# IDEs
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Modelos ML grandes
*.pkl
*.h5

# Logs
*.log
npm-debug.log*